<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Demo angular-tables-directives</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type="text/javascript" src="scripts/bundle/demo.js"></script>
</head>

<body ng-app="demoApp">
    <div class="container-fluid" ng-controller="demoController as vm" ng-init="activeTab = 0">
        <div class="jumbotron">
            <h1>Demo angular-tables-directives</h1>
            <p>
                With angularjs and bootstrap
            </p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li ng-click="activeTab = 0" ng-class="{ 'active':activeTab === 0 }" role="presentation">
                <a role="tab" href="#">dynamic-table</a>
            </li>
            <li ng-click="activeTab = 1" ng-class="{ 'active':activeTab === 1 }" role="presentation">
                <a role="tab" href="#">standard-table</a>
            </li>
            <li ng-click="activeTab = 2" ng-class="{ 'active':activeTab === 2 }" role="presentation">
                <a role="tab" href="#">group-tables</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" role="tabpanel" ng-class="{ 'in active': activeTab === 0 }">
                <h2>dynamic-table</h2>
                <dynamic-table load-data-fn="vm.loadData" columns="vm.columns" actions="vm.actions" show-filter="true"></dynamic-table>
            </div>
            <div class="tab-pane fade" role="tabpanel" ng-class="{ 'in active': activeTab === 1 }">
                <h2>standard-table</h2>
                <standard-table table-data="vm.tableData" columns="vm.columns" actions="vm.actions" show-filter="true"></standard-table>
            </div>
            <div class="tab-pane fade" role="tabpanel" ng-class="{ 'in active': activeTab === 2 }">
                <h2>grouped-tables</h2>
                <group-tables table-data="vm.tableData" group-by-field="location.country" group-by-label-text="Country" columns="vm.columns" actions="vm.actions" show-filter="true"></group-tables>
            </div>
        </div>
    </div>
</body>

</html>
