<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <standard-table-export-button ng-if="showExport"></standard-table-export-button>
            <span ng-transclude="buttons"></span>
        </div>
        <div class="col-xs-12 col-md-6">
            <standard-table-filter-field ng-if="showFilter" filter="filterData"></standard-table-filter-field>
        </div>
    </div>

    <div ng-repeat="(groupValue, groupData) in (tableData | filterStandartTable : filterData : columns | groupBy : groupByField)">
        <h3>
            <span ng-if="groupByLabelText">
                <span>{{groupByLabelText}}</span>:
            </span>
            {{vm.getGroupByValue(groupValue, groupData)}}
        </h3>
        <standard-table table-data="groupData" columns="columns" actions="actions" admin="admin" show-filter="false" filter="filterData" disable-order="disableOrder" sort="sort" not-found="false" show-export="false">
        </standard-table>
    </div>
</div>
